$success: #75FF9C;
$error: #F24E1E;
$black: #111111;
$white: #F8F8F8;
$grey: #848484;
$lightgrey: #DADADA;
$blue: #0e285d;
$lightblue: #205AD5;
$darkblue: #071531;
$gold: #ceaa24;
$lightgold: #796312;