$success: #75FF9C;
$error: #F24E1E;
$black: #111111;
$white: #F8F8F8;
$grey: #848484;
$lightgrey: #DADADA;
$gallery-bg: #4c7ce4;
$lightblue: #205AD5;
$blue: #0e285d;
$bluegrey: #2e4b86;
$darkblue: #071531;
$lightgold: #eecd53;
$gold: #ceaa24;
$darkgold: #796312;