@font-face {
    font-family: 'icomoon';
    $id: '75dotx';
    src:  url('#{$icons-dir}/icomoon.eot?#{$id}');
    src:  url('#{$icons-dir}/icomoon.eot?#{$id}#iefix') format('embedded-opentype'),
      url('#{$icons-dir}/icomoon.ttf?#{$id}') format('truetype'),
      url('#{$icons-dir}/icomoon.woff?#{$id}') format('woff'),
      url('#{$icons-dir}/icomoon.svg?#{$id}#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @mixin icon-style {
    [class^="icon-"], [class*=" icon-"] {
      @content;
    }
  }
  
  .icon-image:before {
    content: "\e90d";
  }
  .icon-gallery:before {
    content: "\e90e";
  }
  .icon-save:before {
    content: "\e962";
  }
  .icon-spinner:before {
    content: "\e97f";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-remove:before {
    content: "\e9ac";
  }
  .icon-add:before {
    content: "\ea0a";
  }
  .icon-shuffle:before {
    content: "\ea30";
  }
  .icon-email:before {
    content: "\e901";
  }
  .icon-success:before {
    content: "\e902";
  }
  .icon-error:before {
    content: "\e903";
  }
  