.section {
    &-main {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        align-items: stretch;
        gap: 1rem;
    }

    &-emails-list {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}