.image {
    @include default-border;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: $white;
    font-family: 'icomoon';
    color: $grey;
    font-size: 5rem;
    text-align: center;
    

    &::after {
        content: '\e90d';
    }
    
    &.loading::after {
        content: "\e97f";
        animation: spin 2s linear infinite;
        z-index: 9;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);

    }
}